form-builder .element-container {
    display: flex;
    height: 3rem;
    align-items: center;

    border: 1px solid gray;

    .element-container__icon {
        width: 3rem;
    }
    .element-container__title {
        flex: 1;
    }
}