form-builder element-container {
    flex: 1;

    &.draggable-droppable--occupied .element-placeholder{
        display: none;
    }
    .element-placeholder {
        color: #7f7f7f;
        text-align: center;
    }

    .element-container {
        display: flex;
        height: 3rem;
        align-items: center;
    
        border: 1px solid gray;
        .element-container__icon {
            width: 3rem;
        }
        .element-container__title {
            flex: 1;
        }
    }       

} 